button {
  @apply px-4 py-2 font-bold text-white rounded-lg;
}

.Home {
  // @apply p-5;
  // @apply bg-red-500;
  position: relative;

  height: 100vh;
  // display: grid;
  // grid-template-rows: 1fr auto;
  // gap: 25px;

  .Button {
    @apply bg-sky-500 px-5 py-4 rounded-xl;
  }

  .plant-state {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
  }
  
  .plant{
    height: 100%;
    margin: 0 auto;
  }
  
  .bachaco{
    position: absolute;
    width: 9vh;
    height: 9vh;
    cursor: pointer;
    // bottom: 150px;
    // left: calc(50%);
  }
  
  .user-name{
    @apply p-5;
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    span{
      @apply font-semibold text-base
    }
  }
}

.actions {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 20px;
  
  button {
    @apply bg-sky-500 py-4;
  }
}

.overlay {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100vw;
  // height: 100vh;

  background-color: rgba($color: #000, $alpha: .5);

  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @apply bg-emerald-500;
  }
}