@keyframes s4{ 
  100%{transform: rotate(1turn)}
}

.Spinner {
  display: grid;
  animation: s4 4s infinite;
  
  &::before,
  &::after {    
    content:"";
    grid-area: 1/1;
    border-style: solid;
    border-radius: 50%;
    // mix-blend-mode: color;
    animation: s4 1s infinite linear;
  }
  &::before{
    border-color:#766DF4 #766DF4 #0000 #0000;
    @apply border-t-emerald-400;
    @apply border-r-emerald-400;
  }
  &::after {
    animation-direction: reverse;
    border-color:#0000 #0000 #E4E4ED #E4E4ED;
    @apply border-l-emerald-200;
    @apply border-b-emerald-200;
  }
}

.large{
  width: 100px;
  height: 100px;
  
  &::before,
  &::after {
    border-width: 16px;
  }
}
.normal{
  width: 50px;
  height: 50px;
  &::before,
  &::after {
    border-width: 8px;
  }
}
.small{
  width: 25px;
  height: 25px;
  &::before,
  &::after {
    border-width: 4px;
  }
}